@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    font-family: 'Shippori Antique', sans-serif;
}

body {
    height: 100vh;
}

canvas {
    min-width: 200px;
    min-height: 300px;
    max-width: 600px;
    height: 80%;
}